@page

@{
    Layout = "Shared/_Layout";
}

<div style="width: 100%;">
    <div class="row justify-content-center" style="width: 1280px;">
        <div class="bs-panel-photos col-md-1">
            <img src="~/pictures/bons.jpg" alt="Билли Бонс" class="img-circle bs-photos photo-active pull-right" data-value="1">
            <img src="~/pictures/gokins.jpg" alt="Джимми Гокинс" class="img-circle bs-photos pull-right" data-value="2">
            <img src="~/pictures/livsi.jpg" alt="Доктор Ливси" class="img-circle bs-photos pull-right" data-value="3">

            <div id="with-coin-checkbox" class="checkbox pull-right">
                <label><input id="with-coin" type="checkbox" />с&nbsp;монетой</label>
            </div>
        </div>
        <div id="map"></div>
        <div class="controls center-block">

            <div class="bs-panel-statistics" style="display: none;">
                <div>Код игры: <span id="gamename"></span></div>
                <div>Код карты: <span id="mapcode"></span></div>
                <div>Номер хода: <span id="counter"></span></div>
                <div style="margin: 15px 15px 0 15px;">
                    <div id="teams"></div>
                </div>
            </div>
            <div id="end-game-alert" class="alert alert-danger" style="display: none;"></div>
            <div class="bs-panel-control" style="display: none;">
                <button id="game" class="btn btn-default">Начать</button>
                <button id="next" class="btn btn-default">Следующий ход</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="preparing-file-modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Настройки</h4>
			</div>
			<div class="modal-body">
                <div id="player-choose-menu" class="mx-auto" style="width: 250px; height: 250px; position: relative;">
                    <div class="human" style="position: absolute; top: 200px; left: 100px; cursor: pointer;" ></div>
					<div class="robot2" style="position: absolute; top: 100px; left: 0px; cursor: pointer;" ></div>
                    <div class="robot" style="position: absolute; top: 0px; left: 100px; cursor: pointer;" ></div>
					<div class="robot2" style="position: absolute; top: 100px; left: 200px; cursor: pointer;" ></div>
				</div>
                <div class="form-group">
                    <label for="game-map-id">Код карты:</label>
                    <input type="text" class="form-control" id="game-map-id" value="@(new Random().Next())">
                </div>
				<button id="submit-button-settings" class="btn btn-primary" type="submit">Ок</button>
                <button id="reset-button-settings" class="btn btn-default" type="reset">Отмена</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->