@import '/common/content/common.less';

.photo-position {
    position: relative;
    width: 100px;
    & > input {
        margin-left: 0 !important;
    }
    @media (max-width: @screen-md-max) {
        float: right !important;
    }
}

.rum-bottle {
    background: transparent;
    width: 30px;
    height: 67px;
}

.bottles-count {
    font-size: x-large;
}

.rum-bottle-disabled {
    filter: grayscale(100%);
}
