{
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
