.header {
    margin-bottom: 20px;
}

.login-wrapper {
    height: 36px;
    overflow: hidden;
}

.login-wrapper img {
    margin-right: 5px;
}

.login-text {
    color: darkgoldenrod;
    font-size: 18px;
    vertical-align: middle;
}
