@import '/common/content/common.less';

.statistic {
    &:extend(.ui-panel all);
    &:after {
        content: 'Статистика';
    }
}

.teams {
    margin: '15px 15px 0 15px';
    color: white;

    .user {
        border-style: solid;
        border-width: 3px;
    }

    .group {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
        padding: 0;
    }

    .scores {
        display: flex;
        align-items: center;
    }

    .coinsCount {
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: bold;
        margin: 0 0 0 8px;
    }
}

.groupsTooltip {
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 1000;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    opacity: 1 !important;

    & .content {
        margin: 0;
        width: 200px;
        height: 150px;
        overflow-y: auto;
        cursor: pointer;
    }

    & .contentSmall {
        margin: 0;
        width: 150px;
        height: 50px;
        cursor: pointer;
    }

    & .icon {
        position: relative;
        width: 50px;
        height: 50px;
    }
}

.groupsTooltipArrow {
    display: none;
}
