@import '/common/content/common.less';

.gameList {
    &:extend(.ui-panel all);
    &:after {
        content: 'Активные игры';
    }
    max-width: 500px !important;
}

.netGameList {
    &:extend(.ui-panel all);
    &:after {
        content: 'Формируемые публичные игры';
    }
    max-width: 500px !important;
}

.liderboard {
    &:extend(.ui-panel all);
    &:after {
        content: 'Рейтинги';
    }
    max-width: 500px !important;
}

.listIconsItem {
    span {
        padding-right: 10px;
    }
}
